/* You can add global styles to this file, and also import other style files */
main,body,app-root
{
    margin: 0;
    height: 100%;
    min-height: 100vh;
}

app-root
{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: stretch;
}

app-root > section
{
    flex:1;
}

nav
{
    padding: 10px;
}

