h1 {
  margin: 10px 10px;
  display: inline-block;
}

.action button {
  padding: 0;
  margin: 5px;
  height: 2em;
  width: 2em;
}

.action {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  bottom: 5px;
}


.graph .memory {
  margin-left: 20px;
}

.graph {
  display: flex;
  flex-direction: row;
}
