
section
{
    width: 100%;
}

.console
{
    background-color:#593a54;
    height: 500px;
    color:white;
    overflow-y: scroll;
    width: 100%;
}

#new-commande
{
    width: 100%;
    display: flex;
   border-top:1px solid black;
   margin-top: 1px;
   padding-top: 1px;
}

#new-commande input[type='text']
{
    flex:1;
    margin-right: 5px;
    height: 20px;
}

#new-commande input[type='button']
{
    width: 100px;
}

.on-off
{
    width: 60px;
    position: relative;
    border:1px solid lightslategray;
    height: 22px;
    border-radius: 15px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.on-off .bouton
{
    position: absolute;

    top:0px;
    border:1px solid black;
    border-radius: 11px;
    display: block;
    width: 22px;
    height: 20px;
    right: 30%;
}

.on .bouton
{
    right: 0px;
    background-color: #38e851;
}

.on
{
    background-color: lightslategrey;
}

.off .bouton
{
    left: 0px;
    background-color: red;
}

.type-line{
  color: #afafaf;
  display: inline-block;
  border-right: solid #afafaf 1px;
  margin-right: 10px;
  padding: 0 5px 0 3px;
  width: 15px;
}
