
<div *ngIf="res > 0" class="reussite">
    Serveur ok : pid = {{res}}
</div>

<div *ngIf="res < 0" class="echec">
    Serveur erreur : pid = {{res}}
</div>

<form *ngIf="game" (ngSubmit)="envoi()">
    <h2 >{{name}}</h2>
    <!--
    
    -->
    <fieldset>       
        <legend>Nouveau nom</legend>
        <div class='input'>
            <input [(ngModel)]="game.name" name="name" type="text"/>
        </div>
    </fieldset>
    
    
    <fieldset>       
        <legend>Variables</legend>
      
       
       

        <div *ngFor="let varr of game.vars; let index = index;trackBy:trackByIndex;" class="input">
            <div>
                <label>{{varr.label}}</label>
                <br/>
                <input type="text" [(ngModel)]="varr.default" name="{{varr.default}} ">
            </div>
        </div>

    </fieldset>


    <fieldset>       
        <legend>Commande</legend>
        <div class="command">{{com}}</div>
    </fieldset>
    
    
    <fieldset>       
        <legend>Valider</legend>
    <div class="input">
        <input type="button" value="Lancer le serveur" (click)="envoi()"/>
    </div>
    </fieldset>
</form>
<div *ngElse>
Jeu inconnu
</div>