<section *ngIf="serveur" (keydown)="keyDownFunction($event)">
<h1>{{serveur.name}}</h1>
<h2>Status du serveur</h2>
{{serveur.status}} : {{serveur.exitCode}}
<div class="on-off {{ serveur.status === 'RUNNING' ? 'on' : 'off' }}" id="arret" #button (click)="arret()">
    <span class="bouton">
    </span>
</div>
<h2>Console</h2>
<div class="console" #console>
    <div *ngFor="let ligne of serveur.stdout">
    <span class="type-line">{{ligne.type}}</span>{{ligne.data}}
    </div>
</div>
<div id="new-commande">
<input type="text" [(ngModel)]="cmd" placeholder="commande"/>
<input type="button" value="envoyer" (click)="envoi()"/>
</div>
</section>
